# Dependencies
node_modules
.nx
.pnp
.pnp.js

# Build outputs
dist
.next
**/.next
out
bin
obj
**/bin
**/obj

# Testing
coverage

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git
.gitignore

# Misc
*.md
LICENSE