# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
obj/

# macOS
.DS_Store

# Node
node_modules

# Build output
dist

# Test coverage
coverage-report
TestResults

# Next.js
.next
out

.env.local

tmp/