# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
obj/

# macOS
.DS_Store
.nx/installation
.nx/cache
.nx/workspace-data
# Node
node_modules

# Nx build output
dist

# Test coverage
coverage-report
TestResults
