@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: #3f68e4;
  --color-sidebar: rgb(241 243 245 / var(--tw-bg-opacity, 1));
}

@utility btn {
  @apply font-bold h-12 rounded-xl transition-all flex items-center justify-center gap-2
}

@layer components {
  .sidebar {
    @apply w-60 bg-sidebar border-r border-slate-200;
  }

  .top-bar {
    @apply h-16 border-b border-slate-200;
  }
  
  .primary-btn {
    @apply w-full btn bg-primary hover:bg-blue-700 text-white ;
  }

  .secondary-btn {
    @apply w-full btn border border-slate-200 bg-slate-100 text-slate-600 hover:bg-slate-200 transition-colors cursor-pointer;
  }
}
