@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: #3f68e4;
  --color-sidebar: rgb(241 243 245 / var(--tw-bg-opacity, 1));
}

@layer components {
  .sidebar {
    @apply w-60 bg-sidebar border-r border-slate-200;
  }

  .top-bar {
    @apply h-16 border-b border-slate-200;
  }
}
